absl-py==2.1.0
annotated-types==0.7.0
blinker==1.8.2
click==8.1.7
dataclasses==0.6
deepdiff==6.7.1
Flask==3.0.3
greenlet==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
mesop==0.12.4
msgpack==1.1.0
numpy==2.1.0
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
protobuf==5.28.1
psycopg2-binary==2.9.9
pydantic==2.9.1
pydantic_core==2.23.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
watchdog==5.0.2
Werkzeug==3.0.4
